- use ACIDECore\App\View
- $scripts = View::getScripts(['app' , 'ace'])
- $styles = View::getStyles(['app' , 'fontawesome' , 'metro4' , 'context-menu' , 'simplebar'])

doctype html
html(lang="fa")
    head
        meta(charset="UTF-8")
        meta(name="description" content="Free Web tutorials")
        meta(name="keywords" content="HTML,CSS,XML,JavaScript")
        meta(name="author" content="My name")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title ACIDE
        each $style in $styles
            != $style
    body(ng-app="ideApp" ng-controller="ideCtrl")
        main
            .container-fluid.p-0
                div.thin-menu.fg-white.top-menu(data-role="appbar" data-expand-point="md")
                    .app-bar-menu
                        li
                            a.dropdown-toggle(href="#!") File
                            ul.d-menu.fg-white(data-role="dropdown")
                                li: a(href="#!newproject") New Project
                                li: a(href="#!closeproject") Open a Project
                        li: a(href="#!") View
                .grid.ide-content
                    .row.no-gap.h-100
                        .cell-md-3.directory-structure.fg-white.h-100
                        .cell-md-9.h-100
                            .editor-tabs.fg-white
                                ul.list-style-none.m-0.d-flex
                            .code-editor.w-100: .editor
                div.thin-menu.fg-white.bottom-menu(data-role="appbar" data-expand-point="md")
                    .app-bar-menu
                        li: a(href="#!") Home
                        li: a(href="#!") File
                        li: a(href="#!") View
                div.thin-menu.fg-white(data-role="appbar" data-expand-point="md")
                    .app-bar-menu.w-100
                        li.ml-auto: a {{cursor_row}}:{{cursor_col}}
                        li: a(href="#!") File
                        li: a(href="#!") View
                script.
                    var customButtons = [
                        {
                            html: "<span class='mif-cross'></span>",
                            cls: "btn-close fg-white inherit-background",
                            onclick: "$('.window').addClass('size-0');window.location.hash = '/'"
                        }
                    ];
                .h-100(data-role="window" data-place="center"
                    data-width="700" data-height="500" data-btn-min="no"
                    data-btn-max="no" data-shadow="true" data-btn-close="no"
                    data-custom-buttons="customButtons" data-cls-window="size-0"
                    data-draggable="false")
                    .ng-view
        each $script in $scripts
            != $script