- use ACIDECore\App\View
- $scripts = View::getScripts(['app'])
- $styles = View::getStyles(['app'])

doctype html
html(lang="fa")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="metro4:about" content="false")
        title ACIDE
        each $style in $styles
            != $style
    body(ng-app="ideApp" ng-controller="ideCtrl")
        main
            .container-fluid.p-0
                div.thin-menu.fg-white.top-menu#app-bar-1(data-role="appbar" data-expand-point="md")
                    .app-bar-menu
                        li
                            a.dropdown-toggle(href="#!") File
                            ul.d-menu.fg-white(data-role="dropdown")
                                li: a(href="#!newproject") New Project
                                li: a(href="#!closeproject") Open a Project
                                li: a(href="#!closeide") Exit
                        li: a(href="#!") View
                .grid.ide-content
                    .row.no-gap.h-100
                        .cell-md-3.directory-structure.fg-white.h-100
                        .cell-md-9.h-100
                            .editor-tabs.fg-white.simpleBar
                                ul.list-style-none.m-0.d-flex
                            .code-editor.w-100: .editor
                .terminal-app.d-none
                    div.thin-menu.fg-white.bottom-menu#terminal-app-bar(data-role="appbar" data-expand-point="md")
                        .app-bar-menu.w-100
                            li.n-hover: a Terminal :
                            .terminal-tabs.d-flex
                            li: a(ng-click="appendTerminal()"): span.mif-plus
                            li.ml-auto: a(ng-click="minimizeTerminal()"): span.mif-minus
                    .terminal-body
                div.thin-menu.fg-white.bottom-menu#app-bar-2(data-role="appbar" data-expand-point="md")
                    .app-bar-menu.w-100
                        li: a(ng-click="showTerminal()") Terminal
                        .ml-auto.d-flex
                            li: span.badge.bg-red.fg-white.event-badge 4
                            li: a Event Log
                div.thin-menu.fg-white#app-bar-3(data-role="appbar" data-expand-point="md")
                    .app-bar-menu.w-100
                        .ml-auto.d-flex
                            li.d-flex: .flex-self-center.border-radius-4.d-none(data-role="progress"
                                data-value="1" data-small="true" data-position="bottom-app-bar"
                                data-on-complete="$(this).addClass('d-none')")
                            li.d-flex: a.flex-self-center {{cursor_row}}:{{cursor_col}}
                script.
                    var customButtons = [
                        {
                            html: "<span class='mif-cross'></span>",
                            cls: "custom-btn-close fg-white inherit-background",
                            onclick: "$('.window').addClass('size-0');window.location.hash = '/'"
                        }
                    ];
                .h-100(data-role="window" data-place="center"
                    data-width="700" data-height="500" data-btn-min="no"
                    data-btn-max="no" data-shadow="true" data-btn-close="no"
                    data-custom-buttons="customButtons" data-cls-window="size-0"
                    data-draggable="false")
                    .ng-view
        each $script in $scripts
            != $script