.row.no-gap.h-100.new_project
    .col-md-5.fg-white(style="background-color:#131a20;overflow-y:auto" ng-disabled="project_type == 1")
        h6
            img.mr-1.ml-3(src="assets/img/icons/folder-app.svg" style="margin-bottom:7px")
            = 'Starter Projects'
        ul.list-style-none.repositories_list
            li.p-2.mb-1(ng-repeat="r in repositories_list" data-url="{{r.url}}" ng-class="{'active' : r.selected == true}")
                img.mr-1(src="{{r.img}}")
                span {{r.name}}
    .col-md-7.px-5
        form(name="newProjectForm" novalidate)
            .database_form(ng-show="project_type == 1")
                input.fg-white(type="text" data-role="materialinput"
                    placeholder="Enter Your Project Name" ng-model="project_name"
                    name="name" required)
                small.fg-red(ng-show="newProjectForm.name.$dirty && newProjectForm.name.$error.required") Name can not be empty
                input.fg-white(type="text" data-role="materialinput"
                    placeholder="Enter Your Project Slug" ng-model="project_slug"
                    name="slug" required slug-validation)
                small.fg-red(ng-show="newProjectForm.slug.$dirty && newProjectForm.slug.$error.required") Slug can not be empty
                br
                small.fg-red(ng-show="newProjectForm.slug.$dirty && newProjectForm.slug.$invalid") Slug must contain a-z or A-Z letters or numbers
            .file_form(ng-hide="project_type == 1")
                input.fg-white(type="text" data-role="materialinput"
                    placeholder="Enter Your Project Name" ng-model="project_file_name"
                    name="fileName" required directory-validation)
                small.fg-red(ng-show="newProjectForm.fileName.$dirty && newProjectForm.fileName.$error.required") Name can not be empty
                br
                small.fg-red(ng-show="newProjectForm.fileName.$dirty && newProjectForm.fileName.$invalid") Name is not valid
            br
            label.mt-5.fg-white Based on
            select.mt-2.projectType(data-role="select" data-filter="false" ng-change="selectChanged()" ng-model="project_type")
                option(value="1" data-template="<span class='mif-database icon'></span> $1") Database
                option(value="2" data-template="<span class='mif-insert-drive-file icon'></span> $1") File
            small.fg-red(ng-hide="project_duplicated") Project is duplicated
            button.button.primary.mt-5.float-right.rounded(ng-click="createProject()" ng-show="project_type == 1"
                ng-disabled="newProjectForm.slug.$invalid || newProjectForm.name.$invalid") Create
            button.button.primary.mt-5.float-right.rounded(ng-click="createProject()" ng-hide="project_type == 1"
                ng-disabled="newProjectForm.fileName.$invalid") Create